# --- Archivos temporales de Python ---
__pycache__/

# --- Archivos temporales de LaTeX ---
latex/latex_file.aux
latex/latex_file.log
latex/latex_file.fls
latex/latex_file.synctex.gz
latex/latex_file.fdb_latexmk
